{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="form-legend">Create an account</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %} 
                        {{ form.username(class="form-lg") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %} 
                        {{ form.email(class="form-lg") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}

                    {% if form.password.errors %} 
                        {{ form.password(class="form-lg") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    
                    {% if form.confirm_password.errors %} 
                        {{ form.confirm_password(class="form-lg") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group submit-cls">
                {{ form.submit(class="btn btn-submit") }}
            </div>
        </form>
        <div class="text-muted small-info">
            Have an account already? <a href="{{ url_for('auth.login') }}" class="link">Log in</a>
        </div>
    </div>
{% endblock %}