<h3>Hey {{ user.username }},</h3>

<p>We all know how frustrating it can be to forget your password.<br>

There's no need to worry though, We've generated a temporary link below for you to get
started with a new password <br>

<a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">Choose a New Password</a>
<br>
If you cannot click on the link, copy and paste the following URL into a new tab in your browser <br>
{{ url_for('auth.reset_password', token=token, _external=True) }}
<br>
Sincerely,<br>

The Blcklap Team<br>

Note: replies to this email address are not monitored. And if you did not make this request then simply ignore this email and no changes will be made</p>